{{ if and (eq .chezmoi.os "linux") (ne (env "XDG_SESSION_TYPE") "") -}} # VSCode-linux
# [".local/opt/VSCode-linux-x64"]
#   type = "archive"
#   stripComponents = 1
#   refreshPeriod = "168h"
#   url = "https://code.visualstudio.com/sha/download?build=stable&os=linux-x64"
#   exact = false
[".local/share/fonts/Source Code Pro"]
  type = "archive"
  url = '{{ gitHubLatestReleaseAssetURL "adobe-fonts/source-code-pro" (printf "OTF-source-code-pro-*.zip") }}'
  refreshPeriod = "168h"
  exact = false
  stripComponents = 1
[".local/share/fonts/Hack Nerd Font"]
  type = "archive"
  url = '{{ gitHubLatestReleaseAssetURL "ryanoasis/nerd-fonts" (printf "Hack.zip") }}'
  refreshPeriod = "168h"
  exact = false
# [".local/opt/podman-desktop"]
#   type = "archive"
#   stripComponents = 1
#   url = '{{ $release := gitHubLatestRelease "podman-desktop/podman-desktop" }}{{ range $release.Assets }}{{ if regexMatch "^podman-desktop-[0-9.]+\\.tar\\.gz$" .Name }}{{ .BrowserDownloadURL }}{{ end }}{{ end }}'
#   exact = false
{{ end -}} # VSCode-linux

# [".local/bin"]
#   type = "archive"
#   exact = false
#   stripComponents = 1
# {{ if eq .chezmoi.os "darwin" -}}
#   url = '{{ gitHubLatestReleaseAssetURL "nushell/nushell" (printf "nu-*-aarch64-apple-%s.tar.gz" .chezmoi.os) }}'
# {{ else if eq .chezmoi.os "linux" -}}
#   url = '{{ gitHubLatestReleaseAssetURL "nushell/nushell" (printf "nu-*-x86_64-unknown-%s-gnu*" .chezmoi.os) }}'
# {{ end -}}

# [".local/bin/popeye"]
#     type = "archive-file"
#     executable = true
#     path = "popeye"
#     url = {{ gitHubLatestReleaseAssetURL "derailed/popeye" (printf "popeye_%s_%s.tar.gz" .chezmoi.os .chezmoi.arch) | quote }}

[".local/bin/qq"]
  type = "archive-file"
  executable = true
  refreshPeriod = "168h"
  path = "qq"
  url = {{ gitHubLatestReleaseAssetURL "JFryy/qq" (printf "qq-*-%s-%s.tar.gz" .chezmoi.os .chezmoi.arch) | quote }}

# ex: ts=4 sw=4 et filetype=toml
