{{- if .external_tools -}} # external_tools
{{ if eq .chezmoi.os "darwin" -}} # darwin-only tools
[".local/bin/k9s"]
  type = "archive-file"
  executable = true
  path = "k9s"
  url = '{{ gitHubLatestReleaseAssetURL "derailed/k9s" (printf "k9s_Darwin_%s*.tar.gz" .chezmoi.arch) }}'
[".local/bin/age-plugin-yubikey"]
  type = "archive-file"
  path = "age-plugin-yubikey/age-plugin-yubikey"
  url = '{{ gitHubLatestReleaseAssetURL "str4d/age-plugin-yubikey" (printf "age-plugin-yubikey-*-arm64-%s.tar.gz" .chezmoi.os ) }}'
  executable = true
[".local/bin/docker-compose"]
  type = "file"
  executable = true
  url = '{{ gitHubLatestReleaseAssetURL "docker/compose" (printf "docker-compose-%s-aarch64*" .chezmoi.os ) }}'
[".local/bin/lazygit"]
  type = "archive-file"
  executable = true
  path = "lazygit"
  url = '{{ gitHubLatestReleaseAssetURL "jesseduffield/lazygit" (printf "*darwin_x86_64*" ) }}'
[".local/bin/bat"]
  type = "archive-file"
  {{ $batVersion := (gitHubLatestRelease "sharkdp/bat").TagName }}
  executable = true
  url = '{{ gitHubLatestReleaseAssetURL "sharkdp/bat" (printf "*aarch64-apple-%s*" .chezmoi.os ) }}'
  path = "bat-{{ $batVersion }}-aarch64-apple-{{ .chezmoi.os }}/bat"
[".local/bin/fd"]
  type = "archive-file"
  executable = true
  {{ $fdVersion := (gitHubLatestRelease "sharkdp/fd").TagName }}
  url = '{{ gitHubLatestReleaseAssetURL "sharkdp/fd" (printf "fd-*-aarch64-apple-%s*" .chezmoi.os) }}'
  path = "fd-{{ $fdVersion }}-aarch64-apple-{{ .chezmoi.os }}/fd"
[".local/bin/rg"]
  type = "archive-file"
  executable = true
  {{ $rgVersion := (gitHubLatestRelease "BurntSushi/ripgrep").TagName }}
  url = '{{ gitHubLatestReleaseAssetURL "BurntSushi/ripgrep" (printf "*-aarch64-apple-%s*" .chezmoi.os ) }}'
  path = "ripgrep-{{ $rgVersion }}-aarch64-apple-{{ .chezmoi.os }}/rg"
[".local/"]
  type = "archive"
  exact = false
  stripComponents = 1
  url = '{{ gitHubLatestReleaseAssetURL "neovim/neovim" (printf "nvim-macos-*%s.tar.gz" .chezmoi.arch) }}'
# curl -LsSf https://astral.sh/uv/install.sh | sh
[".local/bin/uv"]
  type = "archive-file"
  executable = true
  url = '{{ gitHubLatestReleaseAssetURL "astral-sh/uv" (printf "uv-aarch64-apple-%s.tar.gz" .chezmoi.os) }}'
  path = "uv-aarch64-apple-{{ .chezmoi.os }}/uv"
[".local/bin/uvx"]
  type = "archive-file"
  executable = true
  url = '{{ gitHubLatestReleaseAssetURL "astral-sh/uv" (printf "uv-aarch64-apple-%s.tar.gz" .chezmoi.os) }}'
  path = "uv-aarch64-apple-{{ .chezmoi.os }}/uvx"
[".local/bin/croc"]
  type = "archive-file"
  executable = true
  path = "croc"
  url = {{ gitHubLatestReleaseAssetURL "schollz/croc" "croc_v*_macOS-ARM64.tar.gz" | quote }}
[".local/bin/glow"]
    type = "archive-file"
    executable = true
    stripComponents = 1
    path = "glow"
    url = {{ gitHubLatestReleaseAssetURL "charmbracelet/glow" "glow_*_Darwin_arm64.tar.gz" | quote }}
{{ end -}} # darwin-only tools
{{ end -}} # external_tools
