#!/bin/bash

set -eu -o pipefail

install_dependencies_mac() {
  echo "Detected macOS"

  if ! command -v brew &>/dev/null; then
    echo "Homebrew not found. Installing..."
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    echo 'eval "$(/opt/homebrew/bin/brew shellenv)"' >> "$HOME/.zprofile"
    eval "$(/opt/homebrew/bin/brew shellenv)"
  fi

  echo "Installing required packages with Homebrew..."
  brew install curl unzip git
}

install_dependencies_linux() {
  echo "Detected Linux system"
  . /etc/os-release

  case "$ID" in
    debian|ubuntu)
      sudo apt update
      sudo apt install -y curl unzip git usbutils
      ;;
    fedora)
      sudo dnf install -y curl unzip git usbutils
      ;;
    centos|rhel)
      sudo yum install -y curl unzip git usbutils
      ;;
    opensuse*|suse|sles)
      sudo zypper refresh
      sudo zypper install -y curl unzip git usbutils
      ;;
    arch|manjaro)
      sudo pacman -Sy --noconfirm curl unzip git usbutils
      ;;
    *)
      echo "Unsupported Linux distribution: $ID"
      exit 1
      ;;
  esac
}

main() {
  if [[ "$(uname)" == "Darwin" ]]; then
    install_dependencies_mac
  elif [[ -f /etc/os-release ]]; then
    install_dependencies_linux
  else
    echo "Unsupported system: Unable to determine OS."
    exit 1
  fi
  if ! command -v ~/.local/bin/mise &>/dev/null; then
    echo "mise not found. Installing..."
  curl -sL https://mise.run | sh
  fi
}

main "$@"
