#!/bin/bash

set -eu -o pipefail

install_dependencies_mac() {
  echo "Detected macOS"

  if ! command -v brew &>/dev/null; then
    echo "Homebrew not found. Installing..."
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    echo 'eval "$(/opt/homebrew/bin/brew shellenv)"' >> "$HOME/.zprofile"
    eval "$(/opt/homebrew/bin/brew shellenv)"
  fi

  echo "Installing required packages with Homebrew..."
  brew install curl unzip git
}

install_dependencies_linux() {
  echo "Installing required tools on Linux"

  # Root runner
  if command -v sudo &>/dev/null; then
    ROOT="sudo"
  elif command -v su &>/dev/null; then
    ROOT='su -c'
  else
    echo "Error: neither sudo nor su available"
    exit 1
  fi

  . /etc/os-release

  case "$ID" in
    alpine)
      # Alpine usually runs as root; sudo is optional
      $ROOT "apk add --no-cache curl unzip git usbutils passt sudo"
      ;;
    debian|ubuntu)
      $ROOT apt update
      $ROOT apt install -y sudo curl unzip git usbutils passt --no-install-recommends --no-install-suggests
      ;;
    fedora)
      $ROOT dnf install -y sudo curl unzip git usbutils passt
      ;;
    centos|rhel)
      $ROOT "yum install -y sudo curl unzip git usbutils passt"
      ;;
    opensuse*|suse|sles)
      $ROOT zypper refresh
      $ROOT zypper install -y sudo curl unzip git usbutils passt --no-recommends
      ;;
    arch|manjaro)
      $ROOT pacman -Sy --noconfirm sudo curl unzip git usbutils passt
      ;;
    *)
      echo "Unsupported Linux distribution: $ID"
      exit 1
      ;;
  esac
}

main() {
  if [[ "$(uname)" == "Darwin" ]]; then
    install_dependencies_mac
  elif [[ -f /etc/os-release ]]; then
    install_dependencies_linux
  else
    echo "Unsupported system: Unable to determine OS."
    exit 1
  fi
  if ! command -v ~/.local/bin/mise &>/dev/null; then
    echo "mise not found. Installing..."
    curl -sL https://mise.run | sh
  fi
  if ! command -v ~/.local/bin/uv &>/dev/null; then
    echo "uv not found. Installing..."
    curl -sL https://astral.sh/uv/install.sh | sh
  fi
}

main "$@"
