# always download the latest .tmux.conf from gpakosz
[".tmux.conf"]
  type = "file"
  url = 'https://raw.githubusercontent.com/gpakosz/.tmux/refs/heads/master/.tmux.conf'
  refreshPeriod = "168h"
[".config/git/alias"]
  type = "file"
  url = "https://raw.githubusercontent.com/GitAlias/gitalias/main/gitalias.txt"
  refreshPeriod = "168h"

# ex: ts=4 sw=4 et filetype=toml
