#!/bin/bash
{{ if eq .chezmoi.os "darwin" -}}
brew bundle --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
{{ end -}}
{{ if eq .chezmoi.os "linux" -}}
sudo curl -L https://raw.githubusercontent.com/Yubico/libfido2/refs/tags/1.16.0/udev/70-u2f.rules -o /etc/udev/rules.d/70-u2f.rules || true
  {{ if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
sudo apt update
sudo apt install -y --no-install-recommends {{ .packages.epam_wsl.apt | join " " }}
  # WSL-specific code
  {{   else -}}
  {{ if (.chezmoi.osRelease.id | lower | contains "manjaro") -}}
  # Manjaro Linux-specific code
yay -Syu --needed --noconfirm --noprogressbar {{ .packages.arch.yay | join " " }}
  {{   end -}}
  {{ if (.chezmoi.osRelease.id | lower | contains "debian") -}}
sudo apt update
sudo apt install -y --no-install-recommends {{ .packages.ubuntu.apt | join " " }}
  {{   end -}}
  {{ if (.chezmoi.osRelease.id | lower | contains "fedora") -}}
sudo dnf update
sudo dnf install -y {{ .packages.fedora.dnf | join " " }}
  {{   end -}}
  {{   end -}}
{{ end -}}
